<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "in.sarci.mobile.scpl.customer"
        versionCode = "01"
        version     = "1.0.0">
 
    <name>SARCI-SCPL-Customer-App</name>
 
    <description>
        An order tracking mobile application for customers of SCPL
    </description>
 
    <author href="http://www.sarci.in" email="info@sarci.in">
        Haripriya Thangaraj
    </author>
 
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
 
    <icon src="scpl-logo.jpg" />

</widget>