<ion-view view-title="Change Request">
    <ion-nav-bar class="bar-calm">
        <ion-nav-back-button>back</ion-nav-back-button>
    </ion-nav-bar>
    
    <ion-content class="padding">
        <div class="row">
            <div class="col col-25">
                <img src="img/prod-06.png">
            </div>
            <div class="col">
                <h2>Company Branding</h2>
                <p>Logo, letterhead, envelopes, color scheme</p>
            </div>
        </div>
        
        <!--
        <div ng-controller="OtherCtrl">
            <ion-radio ng-model="modifyType" value="M">Make Changes</ion-radio>
            <ion-radio ng-model="modifyType" value="C">Cancel Order</ion-radio>
        </div>
        -->
        <div class="list card">
            <div class="item item-divider">Type in the changes you want to make to this order</div>
            <div class="item item-body">
            <label class="item item-input item-stacked-label" name="ModRemark">
                <span class="input-label">Remarks</span>
                <textarea rows="5"></textarea>
            </label>
            </div>
        </div>
        
        <div class="padding" align="right" ng-controller="PopupCtrl">
            <a class="button button-positive button-clear" ng-click="showAlert(modifyRequestAlert)">SUBMIT</a>
        </div>
    </ion-content>
</ion-view>